<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}  {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
    {% block customCSS %}  {% endblock %}
</head>
<body>
    <div class="container-fluid p-5 text-white text-center" style="background-color: rgb(129, 122, 122);">
        <div class="inicial__pai__logo">
            <img class="inicial__filho__logo" src="{{ url_for('static', filename='img/goservicebr.png')}}" alt="Logo da Empresa GoService">
        </div>
        <p class="parag__pag">ÁREA DO CLIENTE</p> 
    </div>
    
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarnNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('login.protectedCli')}}">INICIO</a>
                    </li class="nav-item">
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('clientes.visual_cliente')}}">DADOS CADASTRAIS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('login.logout')}}">ENCERRAR SESSÃO</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    
    </nav>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    {% block body %}

    {% endblock %}
</body>
</html>




