
.fakeimg {
    height: 200px;
    background: #aaa;
}

/* Estilos adicionais para a barra lateral */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 20px;

}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    
}

.sidenav a:hover {
    color: #f1f1f1;
}
@media (max-width: 768px){
    .sidenav {
        width:100%;
        height: auto;
    }
    .content {
        margin-left: 0;
    }
}

