{% extends 'bases/base_index.html' %}

{% block title %} Página Inicial {% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/inicial_style.css')}}">
{% endblock %}

{% block content %}
    <main>
        <div class="inicial__pai__logo">
            <img class="inicial__filho__logo" src="{{ url_for('static', filename='img/goservicebr.png')}}" alt="Logo da Empresa GoService">
        </div>
        <div class="inicial__pai__imagens__usuarios">
            <img class="inicial__filho__imagens__usuarios" src="{{ url_for('static', filename='img/cliente.png')}}" alt="">
            <img class="inicial__filho__imagens__usuarios" src="{{ url_for('static', filename='img/profissional.png')}}" alt="">
        </div>
        <div class="inicial__pai__opcoes">
            <a href="{{url_for('clientes.login_cliente')}}">
                <p class="inicial__filho__opcoes">Cliente</p>
            </a>
            <!-- manda para a rota login-->
            <a href="{{url_for('prof.login_profissional')}}">
                <p class="inicial__filho__opcoes__prof">Profissional</p>
            </a>
        </div>
    </main>

{% endblock %}