{% extends 'bases_prof/base_login.html' %}

{% block title %} Login Cliente {% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
{% endblock %}

{% block body %}
<div class="page">
    <!--<img src="{{ url_for('static', filename='img/goservicebr.png')}}" id="logo" alt="">-->
    <br>
    <form action="{{url_for('clientes.login_cliente')}}" method="POST" class="formLogin">
        <h1 class="tit_principal">Login Cliente</h1>
        <img src="{{ url_for('static', filename='img/cliente.png')}}" id="foto_prof" alt="">
        {% with messages = get_flashed_messages() %}

        {% if messages %}
        <br>
        {% for message in messages %}
        <div class="alert alert-primary alert-danger" role="alert">
            <strong> {{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" ></button>
        </div>
        {% endfor %}
        {% endif %}

        {% endwith %}
        <p>Digite os seus dados de acesso no campo abaixo.</p>
        
        <label for="username">Username:</label>
        <input class="input" type="text" name="username" placeholder="informe um nome de usuário" autofocus="true" />
        <label for="password">Senha:</label>
        <input class="input" type="password" name="senha" placeholder="Digite sua senha" />
        <a class="link__senha" href="/">Esqueci minha senha</a>
        <div class="botoes__pai">
            <input type="submit" name="trocar_senha" value="Acessar" class="btn btn-success btns" />
            <a href="{{url_for('clientes.add_user')}}" class="btn btn-primary btns">Novo Cadastro</a>
        </div>
        
    </form>
    
</div>
{% endblock %}