{% extends 'base.html' %}

{% block title %} Cadastro de Clientes {% endblock %}

{% block body %}
<div class="row">
    <style>
        .container__pai__logo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 15px;
        }
        .logo {
            width: 370px;
            height: 150px;
        }
    </style>
    <div class="col-5 mx-auto">
        <div class="container__pai__logo">
            <img class="logo" src="{{ url_for('static', filename='img/goservice.png')}}" id="logo" alt="">
            <h3>Formulário de cadastro de clientes</h3>
        </div>
        <form method="post" action="{{url_for('add_user')}}">
            <div class="form-group">
                <label>Nome</label>
                <input type="text" name="nome" id="" required class="form-control"> 
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" name="email" id="" required class="form-control">
            </div>
            <div class="form-group">
                <label>Cpf</label>
                <input type="text" name="cpf" id="" required class="form-control"> 
            </div>
            <div class="form-group">
                <label>Telefone</label>
                <input type="text" name="telefone" id="" required class="form-control"> 
            </div>
            <div class="form-group">
                <label>Rua</label>
                <input type="text" name="rua" id="" required class="form-control"> 
            </div>
            <div class="form-group">
                <label>Número</label>
                <input type="number" name="numero" id="" class="form-control">  
            </div>
            <div class="form-group">
                <label>Bairro</label>
                <input type="text" name="bairro" id="" required class="form-control"> 
            </div>
            <div class="form-group">
                <label>Cidade</label>
                <input type="text" name="cidade" id="" required class="form-control">  
            </div>
            <div class="form-group">
                <label>Estado</label>
                <input type="text" name="estado" id="" required class="form-control">  
            </div>
            <div class="form-group">
                <label>CEP</label>
                <input type="text" name="cep" id="" required class="form-control">  
            </div>
            <br>
            <input type="submit" value="Adicionar" class="btn btn-primary">
        </form>
    </div>
</div>

{% endblock %}