{% extends 'base.html' %}
{% block body %}
<div class="row">
    <div class="col-5 mx-auto">
        <h3>CADASTRE_SE</h3><br>
        <form method="post" action="{{url_for('add_user')}}">
            <div class="form-group">
                <label>Nome</label>
                <input type="text" name="nome" id="" required class="form-control"> 
            </div>
            <div class="form-group">
                <label>Idade</label>
                <input type="text" name="idade" id="" required class="form-control"> 
            </div>
            <div class="form-group">
                <label>Rua</label>
                <input type="text" name="rua" id="" required class="form-control"> 
            </div>
            <div class="form-group">
                <label>Cidade</label>
                <input type="text" name="cidade" id="" required class="form-control"> 
            </div>
            <div class="form-group">
                <label>Número</label>
                <input type="text" name="numero" id="" required class="form-control"> 
            </div>
            <div class="form-group">
                <label>Estado</label>
                <input type="text" name="estado" id="" required class="form-control"> 
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" name="email" id="" required class="form-control"> 
            </div>
            <br>
            <input type="submit" value="Adicionar" class="btn btn-primary">
        </form>
    </div>
</div>

{% endblock %}