{% extends 'base.html' %}
{% block body %}
<div class="row">
    <div class="col-5 mx-auto">
        <h3>defina suas qualidades</h3><br>
        <form method="post" action="{{url_for('cad_curso')}}">
            <div class="form-group">
                <label>modalidade</label>
                <input type="text" name="modalidade" id="" required class="form-control"> 
            </div>
            <div class="form-group">
                <label>instituicao</label>
                <input type="text" name="instituicao" id="" required class="form-control"> 
            </div>
            <div class="form-group">
                <label>area</label>
                <input type="text" name="area" id="" required class="form-control"> 
            </div>
            
            <br>
            <input type="submit" value="Adicionar" class="btn btn-primary">
        </form>
    </div>
</div>

{% endblock %}