{% extends 'base.html' %}
{% block body %}
<div class="row">
    <div class="col-5 mx-auto">
        <h3>CADASTRE_SE</h3><br>
        <form method="post" action="{{url_for('cad_profissionais')}}">
            <div class="form-group">
                <label>Nome</label>
                <input type="text" name="nome" id="" required class="form-control"> 
            </div>
            
            <div class="form-group">
                <label>CPF</label>
                <input type="text" name="cpf" id="" required class="form-control"> 
            </div>
            <div class="form-group">
                <label>telefone</label>
                <input type="text" name="telefone" id="" required class="form-control"> 
            </div>
            <div class="form-group">
                <label>email</label>
                <input type="text" name="email" id="" required class="form-control"> 
            </div>
            <div class="form-group">
                <label>endereco</label>
                <input type="text" name="endereco" id="" required class="form-control"> 
            </div>
            <div class="form-group">
                <label>cidade</label>
                <input type="text" name="cidade" id="" required class="form-control"> 
            </div>
            <div class="form-group">
                <label>numero</label>
                <input type="text" name="numero" id="" required class="form-control"> 
            </div>
            <div class="form-group">
                <label>bairro</label>
                <input type="text" name="bairro" id="" required class="form-control"> 
            </div>
            <div class="form-group">
                <label>cep</label>
                <input type="text" name="cep" id="" required class="form-control"> 
            </div>
            <div class="form-group">
                <label>UF</label>
                <input type="text" name="uf" id="" required class="form-control"> 
            </div>
            <br>
            <input type="submit" value="Adicionar" class="btn btn-primary">
        </form>
    </div>
</div>

{% endblock %}