{% extends 'bases/base.html' %}

{% block title %} Cadastro de Clientes {% endblock %}
{% block customCSS %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/estilosCli/estilo_cad_cliente.css')}}">
{% endblock %}

{% block body %}

        <div class="container__pai__logo">
            <img class="logo" src="{{ url_for('static', filename='img/goservicebr.png')}}" id="logo" alt="">
        </div>
        <div class="container__pai__titulo">
            <h3>Formulário de cadastro de clientes</h3>
        </div>

        <form class="flex-lg-row" method="post" action="{{url_for('add_user')}}">
            <div class="row">
                
                <div class="col">
                    <div class="form-group ">
                        <label>Nome</label>
                        <input type="text" name="nome" id="" required class="form-control bg-black text-white">
                    </div>
                    <div class="form-group col">
                        <label>Email</label>
                        <input type="email" name="email" id="" required class="form-control bg-black text-white">
                    </div>
                    <div class="form-group col">
                        <label>CPF</label>
                        <input type="text" name="cpf" id="" required class="form-control bg-black text-white">
                    </div>
                    <div class="form-group col">
                        <label>Telefone</label>
                        <input type="text" name="telefone" id="" required class="form-control bg-black text-white">
                    </div>
                    <div class="form-group col">
                        <label>Rua</label>
                        <input type="text" name="rua" id="" required class="form-control bg-black text-white">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group col-md-2 ">
                        <label>Num casa</label>
                        <input type="number" name="numero" id="" class="form-control bg-black text-white">
                    </div>
                    <div class="form-group col">
                        <label>Bairro</label>
                        <input type="text" name="bairro" id="" required class="form-control bg-black text-white">
                    </div>
                    <div class="form-group col">
                        <label>Cidade</label>
                        <input type="text" name="cidade" id="" required class="form-control bg-black text-white">
                    </div>
                    <div class="form-group col">
                        <label>UF</label>
                        <input type="text" name="estado" id="" required class="form-control bg-black text-white">
                    </div>
                    <div class="form-group col">
                        <label>CEP</label>
                        <input type="text" name="cep" id="" required class="form-control bg-black text-white">
                    </div>
                </div>
                <br>
                <div class="pai__botoes">
                    <input type="submit" value="Adicionar" class="btn bg-white text-black my-2 my-sm-0 btns">
                    <a class="btn bg-white text-black my-2 my-sm-0 btns" >Retornar
                    </a>
                </div>
            </div>
        </form>
    

{% endblock %}