{% extends 'base.html' %}
{% block body %}
<div class="row">
    <div class="col-5 mx-auto">
        <h3>defina suas qualidades</h3><br>
        <form method="post" action="{{url_for('cad_servicos')}}">
            <div class="form-group">
                <label>nome</label>
                <input type="text" name="nome" id="" required class="form-control"> 
            </div>
            <div class="form-group">
                <label>categoria</label>
                <input type="text" name="categoria" id="" required class="form-control"> 
            </div>
            <div class="form-group">
                <label>valor</label>
                <input type="text" name="valor" id="" required class="form-control"> 
            </div>
            
            <br>
            <input type="submit" value="Adicionar" class="btn btn-primary">
        </form>
    </div>
</div>

{% endblock %}