{% extends 'base.html' %}

{% block body %}
<div class="row">
    <div class="col-5 mx-auto">
        <h3>Edite</h3><hr>
        <form action="{{url_for('edit_user', id=datas.ID)}}" method="post">
            <div class="form-group">
                <label>Nome</label>
                <input type="text" name="nome" required class="form-control" value="{{datas.NOME}}">
            </div>
            <div class="form-group">
                <label>Idade</label>
                <input type="text" name="idade" required class="form-control" value="{{datas.IDADE}}">
            </div>
            <div class="form-group">
                <label>Rua</label>
                <input type="text" name="rua" required class="form-control" value="{{datas.RUA}}">
            </div>
            <div class="form-group">
                <label>Cidade</label>
                <input type="text" name="cidade" required class="form-control" value="{{datas.CIDADE}}">
            </div>
            <div class="form-group">
                <label>Número</label>
                <input type="text" name="numero" required class="form-control" value="{{datas.NUMERO}}">
            </div>
            <div class="form-group">
                <label>Estado</label>
                <input type="text" name="estado" required class="form-control" value="{{datas.ESTADO}}">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" name="email" required class="form-control" value="{{datas.EMAIL}}">
            </div>
            <input type="submit" value="Confirmar" class="btn btn-primary">
        </form>
    </div>

</div>
{% endblock %}