{% extends 'base.html' %}
{% block body %}
<h3 class="text-center text-muted mb-3"></h3>
<p class="text-right"><a href="{{url_for('cad_servicos')}}" class="btn btn-success">+Novo Servico</a></p>
{%print("tenta executar a função cad_servicos")%}
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Categoria</th>
      <th scope="col">valor</th> 
    </tr>
  </thead>

  <tbody>
    {% for servico in servicos %}
    <tr>
      <td>{{loop.index}}</td>
      <td>{{servico.ID_profiss}}</td>
      <td>{{servico.nome}}</td>
      <td>{{servico.categoria}}</td>
      <td>{{servico.valor}}</td>
    <!--<td><a href="{{url_for('edit_servicos', idServico=servico.ID_profiss)}}" class="btn btn-primary">Editar</a></td>-->
     <!-- <td><a href="{{url_for('delete_profissionais', idProf=row.ID_profiss)}}" class="btn btn-danger" onclick="return confirm('Tem certeza que deseja apagar?')">Deletar</a></td>-->
    </tr>
    {% endfor %}
  </tbody>
</table>
<!-- 
<table class="table_cursos">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">modalidade</th>
      <th scope="col">instituicao</th>
      <th scope="col">area</th>
    </tr>
  </thead>
  
  <tbody>
    {% for linha in datas %}
    <tr>
      <td>{{loop.index}}</td>
      <td>{{linha.ID_curso}}</td>
      <td>{{linha.modalidade}}</td>
      <td>{{linha.instituicao}}</td>
      <td>{{linha.area}}</td>
      <td><a href="{{url_for('edit_curso', idCurso=linha.ID_curso)}}" class="btn btn-primary">Editar</a></td>
      <td><a href="{{url_for('delete_curso', idCurso=linha.ID_curso)}}" class="btn btn-danger" onclick="return confirm('Tem certeza que deseja apagar?')">Deletar</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<table class="table_experiencias">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">cargo</th>
      <th scope="col">tempo de serviço</th>
      <th scope="col">empresa</th>
    </tr>
  </thead>
  
  <tbody>
    {% for experiencia in datas %}
    <tr>
      <td>{{loop.index}}</td>
      <td>{{experiencia.ID_curso}}</td>
      <td>{{experiencia.cargo}}</td>
      <td>{{experiencia.temp_servico}}</td>
      <td>{{experiencia.empresa}}</td>
      <td><a href="{{url_for('edit_experiencias', idExperiencia=experiencia.ID_experiencia)}}" class="btn btn-primary">Editar</a></td>
      <td><a href="{{url_for('delete_experiencia', idExperiencia=experiencia.ID_curso)}}" class="btn btn-danger" onclick="return confirm('Tem certeza que deseja apagar?')">Deletar</a></td>
      
    </tr>
    {% endfor %}
  </tbody>
</table>
-->
{% endblock %}