{% extends 'bases/base_index_profiss.html' %}
{% block side %}
<h3 class="text-center text-muted mb-3"></h3>
  <!-- 
    
    <a href="{{url_for('curso.list_cursos_prof')}}" class="active">Active</a>
    <a href="#">Link</a>
    <a href="#">Link</a>
    <a href="#" class="disabled">Disabled</a>


  -->
  <h2> Bem vindo: {{usuario}}</h2>
  <div class="sidenav">
    <a href="{{url_for('curso.list_cursos_prof')}}">MEUS CURSOS</a>
    <a href="{{url_for('experiencia.lista_experiencias')}}">MINHAS EXPERIÊNCIAS PROFISSIONAIS</a>
    <a href="{{url_for('servico.lista_servicos')}}">MEUS SERVIÇOS</a>
    <a href="{{url_for('profissional.visual_profissional')}}">MOSTRAR MEUS DADOS</a>
  </div>
{% endblock %}
