{% extends 'base.html' %}
{% block body %}
<h3 class="text-center text-muted mb-3"></h3>
<!--Essa linha deverá ficar na tela de login e depois, mas ficará aqui por enquanto-->
<p class="text-right"><a href="{{url_for('cad_profissionais')}}" class="btn btn-success">+Novo Cadastro</a></p>

<nav>
  <p><a href="{{url_for('list_cursos_prof', id_profiss=1)}}">MEUS CURSOS</a></p>
  <p><a href="{{url_for('add_experiencia', id_profiss=1)}}">MINHAS EXPERIÊNCIAS PROFISSIONAIS</a></p>
  <P><a href="lista_servicos.html">MEUS SERVIÇOS</a></P>
  <p></p>
</nav>

{% endblock %}