{% extends '/base_index.html' %}

{% block title %} Página Inicial {% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/inicial_style.css')}}">
{% endblock %}

{% block content %}
    <main>
        <div class="inicial__pai__logo">
            <img class="inicial__filho__logo" src="{{ url_for('static', filename='img/goservicebr.png')}}" alt="Logo da Empresa GoService">
        </div>
        <div class="inicial__pai__imagens__usuarios">
            <img class="inicial__filho__imagens__usuarios" src="{{ url_for('static', filename='img/cliente.png')}}" alt="">
            <img class="inicial__filho__imagens__usuarios" src="{{ url_for('static', filename='img/Profissional.png')}}" alt="">
        </div>
        <div class="inicial__pai__opcoes">
            <a href="#">
                <p class="inicial__filho__opcoes">Cliente</p>
            </a>
            <a href="#">
                <p class="inicial__filho__opcoes__prof">Profissional</p>
            </a>
        </div>
        <div class="inicial__pai__opcoes__cadastro">
            <a class="inicial__link__cadastro" href="{{url_for('add_user')}}">Cadastre-se</a>
            <a class="inicial__link__cadastro" href="{{url_for('cad_profissionais')}}">Cadastre-se</a>
        </div>
    </main>
    <footer class="inicial__rodape">
        <p class="inicial__rodape__paragrafo">Desenvolvido por equipe <span class="inicial__paragrafo__destaque">ZytechSolutions</span></p>
    </footer>

{% endblock %}