{% extends '/bases/base_index_profiss.html' %}

{% block customCSS %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profissional/estilo_cad_profissional.css')}}" >
{% endblock %}

{% block body %}
<div class="row">
    <link rel="stylesheet" href="../../static/css/profissional/estilo_edit_prof.css">
    <div class="col-5 mx-auto">
        <h3>Edite</h3><hr>
       
        <form action="{{url_for('profissional.edit_profissionais', idProf=datas.ID_profiss)}}" method="post">
            <div class="form-group">
                <label>Nome: </label>
                <input type="text" name="nome" required class="form-control" value="{{datas.nome}}">
            </div>
            
            <div class="form-group">
                <label>CPF: </label>
                <input type="text" name="cpf" required class="form-control" value="{{datas.cpf}}">
            </div>
            <div class="form-group">
                <label>Telefone: </label>
                <input type="text" name="telefone" required class="form-control" value="{{datas.telefone}}">
            </div>
            <div class="form-group">
                <label>Email: </label>
                <input type="text" name="email" required class="form-control" value="{{datas.email}}">
            </div>
            <div class="form-group">
                <label>endereco</label>
                <input type="text" name="endereco" required class="form-control" value="{{datas.endereco}}">
            </div>
            <div class="form-group">
                <label>cidade</label>
                <input type="text" name="cidade" required class="form-control" value="{{datas.cidade}}">
            </div>
            <div class="form-group">
                <label>numero</label>
                <input type="text" name="numero" required class="form-control" value="{{datas.numero}}">
            </div>
            <div class="form-group">
                <label>cep</label>
                <input type="text" name="cep" required class="form-control" value="{{datas.cep}}">
            </div>
            <div class="form-group">
                <label>bairro</label>
                <input type="text" name="bairro" required class="form-control" value="{{datas.bairro}}">
            </div>
            <div class="form-group">
                <label>UF</label>
                <input type="text" name="uf" required class="form-control" value="{{datas.uf}}">
            </div>
          
            <input type="submit" value="Confirmar" class="btn btn-primary">
        </form>
    </div>
</div>
{% endblock %}
