{% extends '/bases/baseLogin.html' %}

{% block title %} Login Profissional {% endblock %}

{% block customCSS %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
{% endblock %}

{% block body %}
<div class="page">
    <img src="{{ url_for('static', filename='img/goservicebr.png')}}" id="logo" alt="">
    <br>
    <form action="{{url_for('login.login_profissional')}}" method="POST" class="formLogin">
        <div class="pai__imagem__titulo">
            <a class="" href="{{url_for('profissional.inicial')}}">
                <img class="img__logo__voltar" src="../../static/img/voltar.png" alt="">
            </a>
            <h1 class="tit_principal">Login Cliente</h1>
        </div>
        
        <img src="{{ url_for('static', filename='img/profissional.png')}}" id="foto_prof" alt="">
        {% with messages = get_flashed_messages() %}

        {% if messages %}
        <br>
        {% for message in messages %}
        <div class="alert alert-primary alert-dismissible" role="alert">
            <strong> {{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" ></button>
        </div>
        {% endfor %}
        {% endif %}

        {% endwith %}
        <p>Digite os seus dados de acesso no campo abaixo.</p>
        
        <label class="form__Label__prof" for="username">E-mail:</label>
        <input class="input" type="text" name="username" placeholder="informe um nome de usuário" autofocus="true" />
        
        <label class="form__Label__prof" for="password">Senha: </label>
        <input class="input" type="password" name="senha" placeholder="Digite sua senha" />
        <a class="link__senha" href="/">Esqueci minha senha</a>
        <div class="botoes__pai">
            <input type="submit" name="trocar_senha" value="Acessar" class="btn btn-dark btns"/>
            <a href="{{url_for('profissional.cad_profissionais')}}" class="btn btn-success">Novo Cadastro</a></p>
        </div>
        
    </form>
   
</div>
{% endblock %}