{% extends '/base.html' %}

{% block title %} Login Cliente {% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
{% endblock %}

{% block body %}
<div class="page">
    <img src="{{ url_for('static', filename='img/goservicebr.png')}}" id="logo" alt="">
    <br>
    <form action="{{url_for('login.login_profissional')}}" method="POST" class="formLogin">
        <h1 class="tit_principal">Login Cliente</h1>
        <img src="{{ url_for('static', filename='img/profissional.png')}}" id="foto_cli" alt="">
        {% with messages = get_flashed_messages() %}

        {% if messages %}
        <br>
        {% for message in messages %}
        <div class="alert alert-primary alert-dismissible" role="alert">
            <strong> {{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" ></button>
        </div>
        {% endfor %}
        {% endif %}

        {% endwith %}
        <p>Digite os seus dados de acesso no campo abaixo.</p>
        
        <label for="username">E-mail</label>
        <input type="text" name="username" placeholder="informe um nome de usuário" autofocus="true" />
        <label for="password">Senha</label>
        <input type="password" name="senha" placeholder="Digite sua senha" />
        <a href="/">Esqueci minha senha</a>
        <input type="submit" name="trocar_senha" value="Acessar" class="btn" />
        
    </form>
    <p class="text-right"><a href="{{url_for('profissional.cad_profissionais')}}" class="btn btn-success">+Novo Cadastro</a></p>
</div>
{% endblock %}