@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {
    --cor-preta: #000;
    --cor-branca: #FFF;
    --cor-cinza: #ECECEC;
    --cor-cinza-escuro: #CBC8C8;
    --fonte-inter: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--cor-cinza);
    color:  var(--cor-preta);
}


.titulo__pagina {
    text-align: center;
    font-size: 32px;
    font-weight: 800;
}

.botao {
    margin: 3em 0em 3em 3em;
}


.img__logo__voltar{
    width: 50px;
}

.tit__pag {
    font-size: 32px;
    font-weight: 700;
    padding: 0em 0em 1em 0em;
    display: flex;
    justify-content: center;
}

.lista__prof-icone {
    width: 35px;
}

.lista__prof-icone:hover {
    cursor: pointer;
}

th,td {
    text-align: center;
}