:root {
    --cor-preta: #000;
    --cor-branca: #FFF;
}

body {
    background-color: var(--cor-preta);
    color: var(--cor-branca);
}

.titulo__pagina {
    text-align: center;
    font-size: 32px;
    font-weight: 800;
}

.botao {
    margin: 3em 0em 3em 3em;
}


.tabela {
    display: block;
    margin: 0em 0em 2em 0em;
    padding: 3em;
}

.img__logo__voltar{
    width: 50px;
}

.tit__pag {
    font-size: 32px;
    font-weight: 700;
    padding: 1em 0em;
    display: flex;
    justify-content: center;
}