@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {
    --cor-preta: #000;
    --cor-branca: #FFF;
    --cor-cinza: #ECECEC;
    --cor-cinza-escuro: #CBC8C8;
    --fonte-inter: 'Inter', sans-serif;
}

body {
    background-color: var(--cor-cinza);
    color: var(--cor-preta);
    font-family: var(--fonte-inter);
}

label {
    font-size: 18px;
    font-weight: 700;
     
}

.container__pai__logo {
    display: flex;
    justify-content: center;
}

.container__pai__titulo {
    padding: 2em 0em ;
    display: flex;
    justify-content: center;
}

.logo {
    width: 370px;
    height: 150px;
}

.caixa {
    box-shadow: 1px 3px var(--cor-cinza-escuro);
    
}

.pai__botoes {
    padding: 1em 12em;
    display: flex;
    justify-content: space-around;
}

.botao-submit {
    font-size: 16px;
    font-weight: 700;
    width: 12em;
}