:root {
    --cor-preta: #000;
    --cor-branca: #FFF;
}

body {
    background-color: var(--cor-preta);
    color: var(--cor-branca);
}

label {
    font-size: 22px;
    font-weight: 700;
    font-weight: 700;
}


.titulo__pag {
    font-size: 36px;
    font-weight: 700;
}


.container__pai__logo {
    display: flex;
    justify-content: center;
}

.container__pai__titulo {
    padding: 2em 0em;
    display: flex;
    justify-content: center;
}

.logo {
    width: 370px;
    height: 150px;
}


.pai__botoes {
    padding: 1.5em 12em;
    display: flex;
    justify-content: space-around;
}

.btns {
    font-size: 16px;
    font-weight: 700 ;
    width: 12em;
}