@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {
    --cor-preta: #000;
    --cor-branca: #FFF;
    --cor-cinza: #ECECEC;
    --cor-cinza-escuro: #CBC8C8;
    --fonte-inter: 'Inter', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: var(--cor-cinza);
    color: var(--cor-preta);
    font-family: var(--font-inter);
}

label,
input {
    font-size: 20px;
    font-weight: 700;
    font-family: var(--fonte-inter);
    
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.caixa {
    box-shadow: 1px 3px var(--cor-cinza-escuro);
    
}


.titulo__pag {
    font-size: 36px;
    font-weight: 700;
    
}


.container__pai__logo {
    display: flex;
    justify-content: center;
}

.container__pai__titulo {
    font-family: var(--fonte-inter);
    padding: 1em 0em;
    display: flex;
    justify-content: center;
}

.logo {
    width: 370px;
    height: 150px;
}


.pai__botoes {
    padding: 1.5em 12em;
    display: flex;
    justify-content: space-around;
}

.btns {
    font-size: 14px;
    font-weight: 700 ;
    width: 12em;
    font-family: var(--fonte-inter);
}