{% extends 'bases_prof/base_cad.html' %}

{% block title %} Cadastro de Experiências {% endblock %}

{% block customCSS %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/estilosProf/estilo_cad_exp.css')}}">
{% endblock %}

{% block body %}

    {%if cadastro %}

    <div class="col-5 mx-auto">

        <div class="container__pai__logo">
            <img class="logo" src="{{ url_for('static', filename='img/goservicebr.png')}}" id="logo" alt="">
        </div>
        <div class="container__pai__titulo">
            <h3 class="titulo__pag">Cadastro de Experiências</h3>
        </div>

        <form method="post" action="{{url_for('expe.cad_experiencia')}}">
            
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label>Cargo:</label>
                            <input type="text" name="cargo" id="" required class="form-control bg-black text-white">
                        </div>
                        <div class="form-group">
                            <label>Tempo servico:</label>
                            <input type="text" name="temp_servico" id="" required class="form-control bg-black text-white">
                        </div>
                        <div class="form-group">
                            <label>Empresa:</label>
                            <input type="text" name="empresa" id="" required class="form-control bg-black text-white">
                        </div>
                        
                        <div class="pai__botoes">
                            <input type="submit" value="Adicionar" class="btn bg-success text-white botao-submit">
                        </div>
                    </div>
                </div>
        </form>
        
    </div>
    {% else %}

    <div class="col-5 mx-auto">

        <div class="container__pai__logo">
            <img class="logo" src="{{ url_for('static', filename='img/goservicebr.png')}}" id="logo" alt="">
        </div>
        <div class="container__pai__titulo">
            <h3 class="titulo__pag">Cadastro de Experiências</h3>
        </div>
        
        <form method="post" action="{{url_for('expe.add_experiencia', id_profiss=id_profiss)}}">
            
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>Cargo:</label>
                        <input type="text" name="cargo" id="" required class="form-control bg-black text-white">
                    </div>
                    <div class="form-group">
                        <label>Tempo servico:</label>
                        <input type="text" name="temp_servico" id="" required class="form-control bg-black text-white">
                    </div>
                    <div class="form-group">
                        <label>Empresa:</label>
                        <input type="text" name="empresa" id="" required class="form-control bg-black text-white">
                    </div>
                </div>
            </div>
        
            <div class="pai__botoes">
                <input type="submit" value="Adicionar" class="btn bg-success text-white botao-submit">
            </div>
        </form>
    </div>
    {% endif %}
{% endblock %}