{% extends 'bases/base.html' %}
{% block body %}
<h3 class="text-center text-muted mb-3"></h3>
<p class="text-right"><a href="{{url_for('prof.incluir_curso', id_profiss=1)}}" class="btn btn-success">+CURSO</a></p>
 
<table class="table_cursos">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">modalidade</th>
      <th scope="col">instituicao</th>
      <th scope="col">area</th>
    </tr>
  </thead>
  
  <tbody>
    {% for linha in curs %}
    <tr>
      <td>{{loop.index}}</td>
      <td>{{linha.modalidade}}</td>
      <td>{{linha.instituicao}}</td>
      <td>{{linha.area}}</td>
      <td><a href="{{url_for('prof.edit_curso', idCurso=linha.ID_curso)}}" class="btn btn-primary">Editar</a></td>
      <td><a href="{{url_for('prof.delete_curso', idCurso=linha.ID_curso)}}" class="btn btn-danger" onclick="return confirm('Tem certeza que deseja apagar?')">Deletar</a></td>
    </tr>
    {% endfor %}
    
  </tbody>
</table>
<td><a href="{{url_for('prof.index')}}" class="btn btn-danger" >MENU</a></td>
{% endblock %}