{% extends 'clientes/base/base_cad.html' %}

{% block title %} Cadastro de Clientes {% endblock %}
{% block customCSS %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/estilosCli/estilo_cad_cliente.css')}}">
{% endblock %}

{% block body %}
    <div class="col-9 mx-auto">
        <div class="container__pai__logo">
            <img class="logo" src="{{ url_for('static', filename='img/goservice.png')}}" id="logo" alt="">
        </div>
        <div class="container__pai__titulo">
            <h3 class="titulo__pag">Cadastro de Clientes</h3>
        </div>

        <form class="flex-lg-row" method="post" action="{{url_for('clientes.cadastra_cliente')}}">
            <div class="row">
                
                <div class="col">
                    <div class="form-group col ">
                        <label>Nome</label>
                        <input type="text" name="nome" id="" required class="form-control bg-white text-black caixa">
                    </div>
                    <div class="form-group col">
                        <label>Email</label>
                        <input type="email" name="email" id="" required class="form-control bg-white text-black caixa">
                    </div>
                    <div class="form-group col-md-4">
                        <label>CPF</label>
                        <input type="text" name="cpf" id="" required class="form-control bg-white text-black caixa">
                    </div>
                    <div class="form-group col-md-4">
                        <label>Telefone</label>
                        <input type="text" name="telefone" id="" required class="form-control bg-white text-black caixa">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Bairro</label>
                        <input type="text" name="bairro" id="" required class="form-control bg-white text-black caixa">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group col">
                        <label>Endereço</label>
                        <input type="text" name="rua" id="" required class="form-control bg-white text-black caixa">
                    </div>
                    <div class="form-group col-md-2 ">
                        <label>N° Casa</label>
                        <input type="number" name="numero" id="" class="form-control bg-white text-black caixa">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Cidade</label>
                        <input type="text" name="cidade" id="" required class="form-control bg-white text-black caixa">
                    </div>
                    <div class="form-group col-md-2">
                        <label>UF</label>
                        <input type="text" name="estado" id="" required class="form-control bg-white text-black caixa">
                    </div>
                    <div class="form-group col-md-4">
                        <label>CEP</label>
                        <input type="text" name="cep" id="" required class="form-control bg-white text-black caixa">
                    </div>
                </div>
                <br>
                <div class="pai__botoes">
                    <input type="submit" value="CADASTRAR" class="btn bg-success text-white my-2 my-sm-0 btns">
                    <a class="btn bg-dark text-white my-2 my-sm-0 btns" href="{{url_for('login.login_cliente')}}">VOLTAR
                    </a>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
