{% extends 'bases/base.html' %}
{% block customCSS %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo_menu_profissional.css')}}">
{% endblock %}
{% block body %}
<h3 class="text-center text-muted mb-3"></h3>
<p class="text-right"><a href="{{url_for('add_user')}}" class="btn bg-white link-dark">+Novo Cadastro</a></p>
<table class="table table-bordered table-dark bg-dark">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">Cpf</th>
        <th scope="col">Telefone</th>
        <th scope="col">Rua</th>
        <th scope="col">Número</th>
        <th scope="col">Bairro</th>
        <th scope="col">Cidade</th>
        <th scope="col">Estado</th>
        <th scope="col">Cep</th>
      </tr>
    </thead>
    <tbody>
        {% for row in dados %}
      <tr>
        <td>{{loop.index}}</td>
        <td>{{row.NOME}}</td>
        <td>{{row.EMAIL}}</td>
        <td>{{row.CPF}}</td>
        <td>{{row.TELEFONE}}</td>
        <td>{{row.RUA}}</td>
        <td>{{row.NUMERO}}</td>
        <td>{{row.BAIRRO}}</td>
        <td>{{row.CIDADE}}</td>
        <td>{{row.ESTADO}}</td>
        <td>{{row.CEP}}</td>
        <td><a href="{{url_for('edit_user', idCli=row.ID_clientes)}}" class="btn btn-primary"></a>Editar</td>
        <td><a href="{{url_for('delete_user', idCli=row.ID_clientes)}}" class="btn btn-danger" onclick="return confirm('Tem certeza que deseja apagar?')"></a>Deletar</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}