{% extends 'clientes/base/base_servicos.html' %}

{% block title %} Serviços Ofertados {% endblock %}

{% block customCSS %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilosCli/estilo_servicos.css')}}">
{% endblock %}

{% block body %}
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-transparent p-lg-2">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse justify-content-end " id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
          </ul>
            <a href="{{url_for('clientes.edit_user',idCli=id_cliente)}}" class="btn filho__container__encanador my-2 my-sm-0" style="padding: 6px 16px !important;font-size: 12px; border-radius: 10px; margin-right: 1.5em; ">Editar Perfil</a>
            <a href="{{url_for('login.logout')}}" class="btn filho__container__encanador my-2 my-sm-0" style="padding: 6px 16px !important;font-size: 12px; border-radius: 10px; ">Fazer Logout</a>
        </div>
      </nav>
</header>

    <section>
        <div class="inicial__pai__logo">
            <img class="inicial__filho__logo" src="{{ url_for('static', filename='img/goservice.png')}}" alt="Logo da Empresa GoService">
            

        </div>
    </section>
    <section class="pai__titulo">
        <h1 class="filho__titulo">Bem vindo {{usuario}}.</h1>
        <p class="filho__titulo">Escolha o profissional de acordo com o serviço que você esteja precisando</p>
    </section>
    <section>
        <div class="pai__container__serv">
            <a href="{{ url_for('clientes.list_profissionais', profissao='pintor') }}">
                <p class="filho__container__pintor">Pintores</p>
            </a>
            <a href="{{ url_for('clientes.list_profissionais', profissao='pedreiro') }}">
                <p class="filho__container__pedreiro">Pedreiros</p>
            </a>
            <a href="{{ url_for('clientes.list_profissionais', profissao='encanador') }}">
                <p class="filho__container__encanador">encanadores</p>
            </a>
            <a href="{{ url_for('clientes.list_profissionais', profissao='cuidador') }}">
                <p class="filho__container__cuidador">Cuidadores</p>
            </a>
        </div>
    </section>
{% endblock %}