{% extends 'clientes/base/base_login.html' %}

{% block title %} Login Cliente {% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/estilosCli/estilo_login.css') }}">
{% endblock %}

{% block body %}
<div class="page"> 
    <br>
    <form action="{{url_for('logincliente.login_cliente')}}" method="POST" class="formLogin">
        <div class="pai__imagem__titulo">
            <a class="" href="{{url_for('clientes.inicial')}}">
                <img class="img__logo__voltar" src="../../static/img/voltar.png" alt="">
            </a>
            <h1 class="tit_principal">Login Cliente</h1>
        </div>
        <img src="{{ url_for('static', filename='img/cliente.png')}}" id="foto_prof" alt="">
        {% with messages = get_flashed_messages() %}

        {% if messages %}
        <br>
        {% for message in messages %}
        <div class="alert alert-primary alert-danger" role="alert">
            <strong> {{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" ></button>
        </div>
        {% endfor %}
        {% endif %}

        {% endwith %}
        <p>Digite os seus dados de acesso no campo abaixo.</p>
        
        <label class="form__label__cli" for="username">Usuário:</label>
        <input class="input" type="text" name="username" placeholder="informe um nome de usuário" autofocus="true" />
        <label class="form__label__cli" for="password">Senha:</label>
        <input class="input" type="password" name="senha" placeholder="Digite sua senha" />
        <a class="link__senha" href="/">Esqueci minha senha</a>
        <div class="botoes__pai">
            <input type="submit" name="trocar_senha" value="Acessar" class="btn btn-dark btns" />
            <a href="{{url_for('clientes.cadastra_cliente')}}" class="btn btn-success btns">Novo Cadastro</a>
        </div>
        
    </form>
    
</div>
{% endblock %}